<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container">
  <h2><h1 class="text-success text-center text-uppercase"><dt>Congratulations!!!!!!</dt></h1></h2>
  <h2><h1 class="text-warning text-center">You Have Successfully Booked Your Ticket</h1></h2>
  <table class="table">
    <thead>
      <tr>
        <th>Booking Id</th>
        
      </tr>
    </thead>
    <tbody>
      <% binding.pry %>
      <% @bookings.current.each do |mybus| %>
        <tr>
          <td><%= mybus.id %></td>
          <!-- Add more cells here for additional data fields -->
        </tr>
      <% end %>  
    </tbody>
  </table>
</div>

</body>
